@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply flex justify-center
}

body {
}

.selectors {
    @apply flex justify-evenly border-black
    rounded-lg rounded-t-none shadow-slate-900
    shadow-lg bg-slate-800
}

.item {
    @apply  px-3 rounded-2xl
    cursor-pointer transition-all select-none
    hover:text-white
    font-sans text-lg mx-0.5 my-7 font-medium
    flex underline text-xl
}
.icon {
    @apply text-3xl mx-2
}


.screen {
    @apply h-screen overflow-hidden
    overflow-y-scroll w-screen select-none
}

.screen::-webkit-scrollbar {
    @apply w-0
}

/*Training Styles*/

.all-inputs {
    @apply flex py-10
}

.container {
    @apply flex font-bold text-xl mx-7 my-10 w-fit
}

.date-container {
    @apply pr-0
}


.date-container input {
    @apply mx-3 px-3 border-2 border-slate-700 shadow-lg shadow-slate-300 rounded-xl select-none
    active:border-purple-800 py-0.5
}

.date-container input::-webkit-calendar-picker-indicator {
    @apply cursor-pointer
}

label {
    @apply text-black font-sans mt-0.5
}

.numbers-container {
    @apply flex justify-center border-t-2 border-dashed border-gray-400
}

.numbers-container .container {
    @apply grid text-center w-fit
}

.numbers-container .container input {
    @apply mx-3 px-3 border-2 border-slate-700 shadow-lg shadow-slate-300 rounded-lg select-none
    active:border-purple-800 py-0.5 pb-1.5 w-52 my-2
}

.numbers-container .container label {
    @apply pl-0
}

.center-container {
    @apply flex justify-center
}

.button {
    @apply border-black border-2 rounded-3xl py-2 px-6 font-medium
    text-white transition-all shadow-lg shadow-slate-300
}

.add-set-btn {
    @apply bg-gray-600 bg-opacity-80 hover:bg-gray-400
}

.finish-button {
    @apply mt-1 bg-green-500 hover:bg-green-400
}


.delete-set-btn {
    @apply bg-red-600 mt-10 hover:bg-red-500
}

.exercise-counter {
    @apply flex justify-between text-black border-gray-400 border-b-2 m-6 text-lg font-medium
}


/*RESULTS*/

.history-result {
    @apply grid grid-cols-2 justify-center gap-16 mx-10 my-10 mb-28
}

/*GRAPH*/

.statistics-input {
    @apply flex justify-start px-7
}

.graph {
    @apply w-3/5
}


